:root
{
    --shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    --main-trans-dur: 0.3s;
    --alt-trans-dur: 0.5s;
    --header-color-green: #f89a25;
    --back-color: #131313;
    --main-padding: 15px 80px;
    --page-padding: 60px 80px;
    --mob-padding: 60px 40px;
    --border: 1px solid#cce7d0;

}

/* variables */
/* global */
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
}

a
{
    text-decoration: none;
    color: #222;
}

p
{
    color: #465b52;
    line-height: 1.8;
    margin: 15px 0 20px 0;
}

h1
{
    font-size: 50px;
    line-height: 68px;
    color: #222;
}

h2
{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4
{
    font-size: 20px;
    color: #222;
}

h6
{
    font-weight: 700px;
    font-size: 12px;
}

body
{
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--body);
}

html
{
    scroll-behavior: smooth;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a
{
    text-decoration: none;
    /* color: black; */
}

button
{
    outline: none;
    border: none;
    transition: 0.3s;
    background-color: #fff;
    color: black;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 20px;
}

button:hover
{
    background-color: var(--header-color-green);
    color: #fff;
}

.container
{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
}

/* header start */
body
{

    font-family: "Aref Ruqaa", serif;
    font-style: normal;
}

header
{
    padding: var(--main-padding);
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 90;

}

body>header>a
{
    color: white;
    background-color: var(--header-color-green);
    padding: 10px 20px;
    font-size: 20px;
    /* width: 50px; */
    display: inline-block;
    border-radius: 6px;
    transition: 0.3s;
}

body>header>a:hover
{
    background-color: #d4a367
}

header ul
{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: 0.5s;

}

header ul li a
{
    position: relative;
    color: white;
    font-size: 20px;
    margin-left: 50px;
    transition: var(--main-trans-dur);
}

header ul li a::after
{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--header-color-green);
    border-radius: 6px;
    transition: var(--main-trans-dur);
}

header ul li:hover a::after,
header ul .active a::after
{
    width: 100%;
}

header ul li:hover a,
header ul .active a
{
    color: var(--header-color-green);
}

.bar
{

    color: white;
    cursor: pointer;
    display: none;
}

.bar:hover
{
    color: var(--header-color-green);
}

.close
{
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    font-weight: 700;
    font-size: 20px;
}

@media (max-width:768px)
{
    .bar
    {
        display: block;
    }

    header
    {
        padding: 15px 40px;
    }

    header ul
    {
        /* display: none; */
        width: 0%;
        overflow-x: hidden;
        flex-direction: column;
        background-color: white;
        height: 100vh;
        position: absolute;
        align-items: center;
        justify-content: space-evenly;
        right: 0;
        top: 0;
    }

    header ul li a
    {

        color: black;
        font-size: 30px;
        margin: 0;
    }
}

/* header end */
/* home start */
#home
{
    height: 100vh;
    display: flex;
    padding: 73px 80px 60px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--back-color);
}

#home .image
{
    width: 70%;
}

#home .image img
{
    max-width: 50%;
    padding: 70px 0 0;
}

#home .text
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
    direction: rtl;
    /* text-align: center; */
}

#home .text h1
{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    /* text-align: center; */
    line-height: 1.6;
    margin: 0;
}

#home .text h3
{
    font-family: "Port Lligat Sans", sans-serif;
    color: var(--header-color-green);
}

#home .text ul
{
    margin-top: 30px;
}

#home .text ul li
{
    list-style: disc;
    font-family: "Alexandria", sans-serif;
    margin-top: 15px;
    font-size: 30px;
    text-align: right;
    color: white;
}

@media (max-width:768px)
{
    #home
    {
        justify-content: space-between;
        padding: var(--mob-padding);
        position: relative;
    }

    #home .text
    {
        width: 50%;
    }

    #home .text h1
    {
        font-size: 30px;
    }

    #home .text ul li
    {
        font-size: 15px;
    }

    #home .image
    {
        width: 50%;
    }

    #home .image img
    {
        max-width: 300px;
        position: absolute;
        top: 50%;
        left: -50px;
        transform: translatey(-50%);
    }
}

#alaa
{
    display: flex;
    /* flex-wrap: wrap-reverse; */
    background-image: linear-gradient(145deg, #ffaf4b 0%, black 70%);
    padding: var(--page-padding);
    justify-content: space-between;
}

#alaa .text
{
    direction: rtl;
    font-family: "Alexandria", sans-serif;

}

#alaa .text h1
{
    color: white;
}

#alaa .text p
{
    color: white;
    position: relative;
    margin-bottom: 10px;
}

#alaa .text p::after
{
    content: "";
    position: absolute;
    width: 70%;
    height: 5px;
    border-radius: 6px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

#alaa .image img
{
    max-width: 100%;
}

@media (max-width:768px)
{
    #alaa
    {
        padding: var(--mob-padding);
        text-align: center;
        flex-wrap: wrap-reverse;
    }

    #alaa .text h1
    {
        font-size: 30px;
    }

}

#transform
{
    display: flex;
    flex-direction: column;
    padding: var(--page-padding);
    background-color: var(--back-color);
}

#transform .images
{

    gap: 30px;
    display: flex;
    /* grid-template-columns: repeat(aut, minmax(300px, auto)); */
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    padding: 20px 0px;

}

::-webkit-scrollbar
{
    height: 10px;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track
{
    background-color: var(--header-color-green);
}

/* Handle */

::-webkit-scrollbar-thumb
{
    background: white;
    border-radius: 10px;
}

#transform .images img
{
    border: 3px solid white;
    max-width: 300px;
}

#transform h3
{
    font-family: "Aref Ruqaa", serif;
    color: var(--header-color-green);
    text-align: center;
    font-size: 50px;
    padding: 20px;
    position: relative;
    /* border-bottom: 2px solid var(--header-color-green); */
}

#transform h3::after
{
    content: "";
    position: absolute;
    bottom: 10px;
    width: 7%;
    height: 3px;
    background-color: var(--header-color-green);
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width:768px)
{
    #transform
    {
        padding: var(--mob-padding);
    }

    #transform h3::after
    {
        width: 25%;
    }
}

/* home end */
/* packages start */
#packages h3
{
    position: absolute;
    top: -50px;
    left: 50%;
    font-family: "Aref Ruqaa", serif;
    color: var(--header-color-green);
    text-align: center;
    font-size: 50px;
    padding: 20px;
    /* position: relative; */
    transform: translateX(-50%);
}

#packages h3::after
{
    width: 75px;
    content: "";
    position: absolute;
    bottom: 10px;
    height: 3px;
    background-color: var(--header-color-green);
    left: 50%;
    transform: translateX(-50%);
}

#packages
{
    position: relative;
    background-color: var(--back-color);
    margin: 0;
    padding: var(--page-padding);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, auto));
    align-items: center;
    gap: 20px;
    justify-content: center;
}

#packages .package
{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
}

#packages .package .title
{
    background-color: var(--header-color-green);
    width: 100%;
    text-align: center;
    color: white;
}

#packages .package .title h1
{
    line-height: 1;
    font-size: 30px;
    color: white;
}

#packages .package .mon
{
    padding: 20px;
    display: flex;
    /* justify-content: space-between; */
    gap: 8px;
}

#packages .package .mon button
{
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #ddd;
}

#packages .package .mon button.active
{
    background-color: var(--header-color-green);
    color: white;
}

#packages .package .des
{
    direction: rtl;
    padding: 20px;
}

#packages .package .des li
{
    font-family: "Alexandria", sans-serif;
    margin-top: 15px;
    display: flex;
    gap: 10px;
    line-height: 1.5;
}

#packages .package .des li i
{
    color: #61ce70;
}

#packages>div.package>button
{
    background-color: var(--header-color-green);
    width: 50%;
    margin: 20px 0;
    transition: 0.3s;
}

#packages>div.package>button:hover
{
    background-color: #f3af5d;
}

#packages .package .price
{
    text-shadow: 2px 2px 0px #FF9816;
    font-size: 50px;
}

/* packages end */
/* contact */
#social
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--back-color);
    padding: var(--page-padding);
}

#social h2
{
    color: var(--header-color-green);
    position: relative;
}

#social h2::after
{
    width: 75px;
    content: "";
    position: absolute;
    bottom: -10px;
    height: 3px;
    background-color: var(--header-color-green);
    left: 50%;
    transform: translateX(-50%);
}

#social .cont
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#social .cont .phone
{
    margin-bottom: 50px;
}

#social .cont .image
{
    width: 40%;
}

#social .cont .image img
{
    max-width: 100%;
}

#social .cont .links
{
    display: flex;
    gap: 20px;
}

#social .cont .det
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

#social .cont .det .phone i
{
    color: white;
    width: 50px;
    font-size: 30px;
    height: 50px;
    background-color: var(--header-color-green);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#social .cont .det .phone
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    flex-direction: column;
    gap: 20px;
}

#social .cont .det .phone span
{
    color: white;
}

#social .cont .links a
{
    color: white;
    font-size: 30px;
    transition: 0.3s;
}

#social .cont .links a:hover
{
    color: var(--header-color-green);
}

@media (max-width:768px)
{
    #social
    {
        padding: var(--mob-padding);
        justify-content: center;
        align-items: center;
    }

    #social h2
    {
        margin-bottom: 50px;
    }

    #social .cont .image
    {
        display: none;
    }


}

.mo
{
    border-top: 1px solid #ddd;
    color: white;
    text-align: center;
    background-color: var(--back-color);
    padding: 10px;
    width: 100%;
}

.left
{
    transform: translatex(100%);
    opacity: 0;
    transition: all 1s;
}

.left.active
{
    transform: translatex(0%);
    opacity: 1;
}

.hidden
{
    opacity: 0;
    transform: translateY(50%);
    transition: all 1s;
}

.hidden.active
{
    opacity: 1;
    transform: translateY(0%);
}

.right
{
    transform: translatex(-100%);
    opacity: 0;
    transition: all 1s;
}

.right.active
{
    transform: translatex(-10%);
    opacity: 1;
}

.hiddens
{
    opacity: 0;
    transform: translate(100%);
    transition: all 1s;
}

.hiddens.active
{
    opacity: 1;
    transform: translate(0%);
}

body
{
    overflow-x: hidden;
}

html
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* contact */
/* HTML: <div class="loader"></div> */
.loader
{
    width: 40px;
    height: 20px;
    --c: no-repeat radial-gradient(farthest-side, var(--header-color-green) 93%, var(--header-color-green));
    background:
        var(--c) 0 0,
        var(--c) 50% 0;
    background-size: 8px 8px;
    position: relative;
    clip-path: inset(-200% -100% 0 0);
    animation: l6-0 1.5s linear infinite;
    z-index: 101;
    transition: all 1s;
}

.loader:before
{
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background: var(--header-color-green);
    left: -16px;
    top: 0;
    animation:
        l6-1 1.5s linear infinite,
        l6-2 0.5s cubic-bezier(0, 200, .8, 200) infinite;
    z-index: 101;
    transition: all 1s;
}

.loader:after
{
    content: "";
    position: absolute;
    inset: 0 0 auto auto;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--header-color-green);
    animation: l6-3 1.5s linear infinite;
    z-index: 101;
    transition: all 1s;
}

@keyframes l6-0
{

    0%,
    30%
    {
        background-position: 0 0, 50% 0
    }

    33%
    {
        background-position: 0 100%, 50% 0
    }

    41%,
    63%
    {
        background-position: 0 0, 50% 0
    }

    66%
    {
        background-position: 0 0, 50% 100%
    }

    74%,
    100%
    {
        background-position: 0 0, 50% 0
    }
}

@keyframes l6-1
{
    90%
    {
        transform: translateY(0)
    }

    95%
    {
        transform: translateY(15px)
    }

    100%
    {
        transform: translateY(15px);
        left: calc(100% - 8px)
    }
}

@keyframes l6-2
{
    100%
    {
        top: -0.1px
    }
}

@keyframes l6-3
{

    0%,
    80%,
    100%
    {
        transform: translate(0)
    }

    90%
    {
        transform: translate(26px)
    }
}

.p1
{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 1s;
}